.background {
    -fx-background-color: #393646;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-background-radius: 3;
    -fx-border-width: 3;
    -fx-text-alignment: CENTER;
    -fx-padding: 5;
}

.first-title {
    -fx-text-fill: #F4EEE0;
    -fx-background-color: #222222;
}

.second-title {
    -fx-text-fill: #393646;
    -fx-background-color: #6D5D6E;
}

.third-title {
    -fx-text-fill: #222222;
    -fx-background-color: #F4EEE0;
}

.label-holder {
    -fx-spacing: 5;
    -fx-alignment: CENTER;
}